figure {
    margin: 0;
}
.audio-track {
    width: 150px;
    height: 3px;
    background-color: #306838;
    margin: 20px 0
}
 
.time {
    width: 0;
    height: 3px;
    background-color: #474747
}


.now-playing{
    margin-left: 20px;
}
.controls{
    margin-left: 20px;
}
.img-details{
    margin-left: 10px;
    color: rgb(27, 23, 20);
    font-family: cursive;
}

body {
    background-image: url('./assets/img/bg1.png');
    background-size: cover;
    background-size:100vw 100vh;

}